decord
dotmap
einops
ftfy
huggingface-hub
matplotlib
numpy
nvitop
opencv-python
packaging
pandas
pillow
protobuf
psutil
scikit-image
scikit-learn
scipy
termcolor
timm
tokenizers
torch
torchaudio
torchinfo
torchnet
torchvision
tornado
tqdm
transformers
visdom
